@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #fcfcfc;
  --foreground: #0b0b0b;
  --card: #ffffff;
  --card-foreground: #0b0b0b;
  --popover: #ffffff;
  --popover-foreground: #0b0b0b;
  --primary: #3c68d9;
  --primary-foreground: #fcfcfc;
  --secondary: #f2f2f2;
  --secondary-foreground: #161616;
  --muted: #f2f2f2;
  --muted-foreground: #636363;
  --accent: #008a7c;
  --accent-foreground: #fcfcfc;
  --destructive: #d40924;
  --border: #dedede;
  --input: #dedede;
  --ring: #3c68d9;
  --chart-1: #3c68d9;
  --chart-2: #008a7c;
  --chart-3: #008f4a;
  --chart-4: #7457d1;
  --chart-5: #b13b92;
  --radius: 0.625rem;
  --sidebar: #f8f8f8;
  --sidebar-foreground: #0b0b0b;
  --sidebar-primary: #3c68d9;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f2f2f2;
  --sidebar-accent-foreground: #161616;
  --sidebar-border: #dedede;
  --sidebar-ring: #3c68d9;
}

.dark {
  --background: #070707;
  --foreground: #f2f2f2;
  --card: #0f0f0f;
  --card-foreground: #f2f2f2;
  --popover: #0f0f0f;
  --popover-foreground: #f2f2f2;
  --primary: #5888fc;
  --primary-foreground: #070707;
  --secondary: #1b1b1b;
  --secondary-foreground: #f2f2f2;
  --muted: #1b1b1b;
  --muted-foreground: #808080;
  --accent: #00877b;
  --accent-foreground: #070707;
  --destructive: #f94144;
  --border: rgba(255,255,255,0.1);
  --input: rgba(255,255,255,0.15);
  --ring: #5888fc;
  --chart-1: #5888fc;
  --chart-2: #008a7c;
  --chart-3: #008f4a;
  --chart-4: #9076f3;
  --chart-5: #d35bb1;
  --sidebar: #0f0f0f;
  --sidebar-foreground: #f2f2f2;
  --sidebar-primary: #5888fc;
  --sidebar-primary-foreground: #070707;
  --sidebar-accent: #1b1b1b;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-border: rgba(255,255,255,0.1);
  --sidebar-ring: #5888fc;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@page {
  margin: 0.5in;
  size: A4;
}
